@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Dots', cursive;
}

body{
    background-color: black;
}

.head-image{
display: flex;
justify-content: center;
margin-top: 20px;
color: white;
}
.main-container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    background-color: black;
}
.pilotos-container{
    width: 500px;
    height: 500px;
    background-color: red;
    padding: 0 10px;
    border-radius: 20px;
}
.equipes-title, .pilotos-title{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.equipes-title{
    color:red;
}

.pilotos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10px;
    justify-content: space-around;
}

.pilotos-container ul{
    list-style: none;
}

.equipes-container{
    width: 700px;
    height: 500px;
    text-align: end;
}
.equipes-container ul{
    margin-top: 10px;
    margin-right: 20px;
    list-style: none;
}

.equipe input{
    margin-right: 10px;
    transition: 1s ease;
    color: red;
}

.equipe img{
    max-height: 20px;
    max-width: 150px;
}

input{
    height: 30px;
    margin: 5px;
    padding: 2px 4px;
    font-size: 14px;
    justify-self: center;
}

.btns{
    margin: 10px auto;
    width: 1200px;
}
.btns button{
    padding: 15px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    outline: none;
    margin: 0 5px;
}
span{
    font-size: 20px;
}
.visible{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 20px;
}
.x{
    width: 500px;
    text-align: center;
}
.y{
    width: 700px;
}
